/* Extra CSS to override theme. */

/* This widens the entire content as default is too narrow. */
.md-grid { max-width: 70rem; }

/* Just add a bit more color to the plain tables. */
table th { color: white; background-color: #4051b5; }

