/* Example styles */

body { margin: 2ex; padding: 0; }

/* Code needs to be a bit bigger but not as much within a heading. */
h1 code { font-size: 120%; color: #333333; }
code { font-size: 124%; }

table { border-collapse: collapse; }
table th { background-color: #cedede; }
table th,td { border: 1px solid #666666; padding:1ex; }

